build/
*.json
project/
*.jou
*.log
*.str
sim/sim_wb8_old/wb8_agent_slave.sv
sim/sim_wb8_old/wb8_agent.sv
sim/sim_wb8_old/wb8_config.sv
sim/sim_wb8_old/wb8_coverage.sv
sim/sim_wb8_old/wb8_driver_slave.sv
sim/sim_wb8_old/wb8_driver.sv
sim/sim_wb8_old/wb8_environment.sv
sim/sim_wb8_old/wb8_monitor_slave.sv
sim/sim_wb8_old/wb8_monitor.sv
sim/sim_wb8_old/wb8_pkg.sv
sim/sim_wb8_old/wb8_scoreboard_func.sv
sim/sim_wb8_old/wb8_scoreboard.sv
sim/sim_wb8_old/wb8_sequence_item.sv
sim/sim_wb8_old/wb8_sequence_slave.sv
sim/sim_wb8_old/wb8_sequence.sv
sim/sim_wb8_old/wb8_tb_top.sv
sim/sim_wb8_old/wb8_test.sv
sim/sim_wb8_old/wb8_top_interface.sv
